html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Share Tech Mono", monospace;
	overflow: hidden;
	overscroll-behavior: none;
}

div {
	box-sizing: border-box;
}

/* START - ANIMATIONS - START */
@keyframes strobe {
	from { opacity: 100%; }
	to { opacity: 0%; }
}
/* END - ANIMATIONS - END */

#canvas {
	width: 100%;
	height: 100%;
	position: relative;
}

#stadium {
	width: 100%;
	height: 100%;
}

#pitcher {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 58%;
	left: 45%;
}

#batter-box-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

#batter-box {
	border: 5px solid white;
	padding: 4px;
	font-size: 48px;
	color: white;
	cursor: pointer;
}

#text-box {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.toggle-text {
	display: none;
	padding: 8px;
	border: 5px solid red;
	color: red;
	font-size: 72px;
	text-align: center;
	font-weight: 600;
	animation-name: strobe;
	animation-duration: 0.25s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#ball {
	height: 8px;
	width: 8px;
	background-color: white;
	display: none;
	position: absolute;
	top: 60%;
	left: 47%;
	z-index: 2;
}

@media only screen and (max-width: 600px) {
	#canvas {
		display: flex;
		justify-content: center;
	}

	#batter-box-wrapper {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	#batter-box {
		width: 75%;
		text-align: center;
	}
}

@media only screen and (max-width: 460px) {
	#batter-box-wrapper {
		bottom: 12px;
	}

	#batter-box {
		font-size: 32px;
	}

	#pitcher {
		top: 52%;
		left: 40%;
	}
}

@media only screen and (max-height: 640px) {
	#batter-box-wrapper {
		bottom: 12px;
	}

	#batter-box {
		font-size: 32px;
	}

	#pitcher {
		top: 52%;
		left: 40%;
	}
}
