#batter-info-box {
	position: absolute;
	width: 40%;
	right: 0;
	bottom: 0;
}

#sliding-info {
	width: 100%;
	background-color: black;
	color: white;
	border: 5px solid white;
	padding: 12px;
	display: flex;
	flex-direction: column;
}

@keyframes batter-info-slide {
	0% { transform: translateY(0%) }
	33% { transform: translateY(100%) }
	66% { transform: translateY(100%) }
	100% { transform: translateY(0%) }
}

.sliding-info-slide {
	animation: batter-info-slide 5s linear;
}

#at-bat {
	margin-bottom: 8px;
	text-decoration: underline;
}

#batter-meta {
	display: flex;
	align-items: center;
}

#batter-text {
	display: flex;
	flex-direction: column;
}

.batter-stat-row {
	display: flex;
	margin-bottom: 4px;
}

.batter-stat {
	margin-right: 8px;
}

#batter-portrait {
	height: 80px;
	width: 80px;
	position: relative;
	margin-right: 16px;
	overflow: hidden;
}

#head {
	height: 100%;
	width: 100%;
}

.batter-features {
	position: absolute;
	height: 300%;
	top: 0;
	left: 0;
}

#eyes {
	height: 300%;
}

#pupils {
	height: 300%;
}

#noses {
	height: 400%;
}

#mouths {
	height: 500%;
}

#hair {
	height: 800%;
}

#stache {
	height: 300%;
}

#marks {
	height: 300%;
}
