#batter-info-box {
	width: 100%;
	margin-top: 8px;
}

#sliding-info {
	width: 100%;
	background-color: black;
	color: white;
	border: 2px solid white;
	padding: 8px;
	display: flex;
	flex-direction: column;
}

@keyframes batter-info-x-slide {
	0% { transform: translateX(0%) }
	33% { transform: translateX(-102%) }
	66% { transform: translateX(-102%) }
	100% { transform: translateX(0%) }
}

.sliding-info-slide {
	animation: batter-info-x-slide 5s linear;
}

#at-bat {
	margin-bottom: 8px;
	text-decoration: underline;
}

#batter-meta {
	display: flex;
	align-items: center;
}

#batter-text {
	display: flex;
	flex-direction: column;
}

.batter-stat-row {
	display: flex;
	margin-bottom: 4px;
}

.batter-stat {
	margin-right: 8px;
}

#batter-portrait {
	height: 52px;
	width: 52px;
	position: relative;
	margin-right: 16px;
	overflow: hidden;
}

#head {
	height: 100%;
	width: 100%;
}

.batter-features {
	position: absolute;
	height: 300%;
	top: 0;
	left: 0;
}

#eyes {
	height: 300%;
}

#pupils {
	height: 300%;
}

#noses {
	height: 400%;
}

#mouths {
	height: 500%;
}

#hair {
	height: 800%;
}

#stache {
	height: 300%;
}

#marks {
	height: 300%;
}

@media only screen and (min-width: 400px) {
	#sliding-info {
		padding: 12px;
	}
}

@media only screen and (min-width: 600px) {
	#batter-info-box {
		width: 62%;
	}

	#batter-portrait {
		height: 80px;
		width: 80px;
	}
}

@media only screen and (min-width: 960px) {
	#batter-info-box {
		width: 40%;
	}
}
