.white-border {
	border: 2px solid white;
}

#scoreboard-area {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#score-and-count {
	display: flex;
}

#scoreboard {
	background-color: black;
	color: white;
	display: flex;
}

.team-scoreboard {
	display: flex;
}

.team-logo {
	height: 52px;
	width: 52px;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 1px 1px #000;
}

.team-score {
	height: 52px;
	width: 52px;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}


@keyframes big-score {
	from { transform: scale(1) }
	to { transform: scale(10) }
}

.big-score {
	animation: big-score 4s linear;
	color: red;
}

#batter-count {
	height: 56px;
	width: 56px;
	border: 2px solid white;
	background-color: black;
	color: white;
	margin-left: 8px;
}

@media only screen and (min-width: 400px) {
 #scoreboard-area {
	padding: 8px;
 }
}