.white-border {
	border: 2px solid white;
}

#scoreboard {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	background-color: black;
	color: white;
}

.team-scoreboard {
	display: flex;
}

.team-logo {
	height: 52px;
	width: 52px;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 1px 1px #000;
}

.team-score {
	height: 52px;
	width: 52px;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}


@keyframes big-score {
	from { transform: scale(1) }
	to { transform: scale(10) }
}

.big-score {
	animation: big-score 4s linear;
	color: red;
}

@media only screen and (min-width: 600px) {
}
