#text-box {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.toggle-text {
	display: none;
	padding: 8px;
	color: red;
	font-size: 72px;
	text-align: center;
	font-weight: 600;
}

#game-over {
	display: none;
	color: #050505;
	font-size: 55px;
	font-weight: 600;
	text-align: left;
	width: 100%;
	font-family: serif;
}